build/
.sisyphus/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
CTestTestfile.cmake
Testing/
compile_commands.json
.cache/
*.o
*.a
*.so
*.so.*
examples/CMakeFiles/
examples/Makefile
examples/cmake_install.cmake
examples/CTestTestfile.cmake
examples/Testing
tests/CMakeFiles/
tests/Makefile
tests/cmake_install.cmake
tests/CTestTestfile.cmake
tests/Testing
